.sidebar-custom {
  width: 220px;
  height: 100vh;
  background-color: #f8f9fa; /* fondo claro tipo Bootstrap */
  padding-top: 1rem;
  border-right: 1px solid #dee2e6;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar-custom .nav-link {
  color: #333;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 0 30px 30px 0;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-custom .nav-link:hover {
  background-color: #e2e6ea;
  color: #000;
  font-weight: 500;
}

.nav-link.active {
  background-color: #f26030;
  color: white;
  font-weight: bold;
}

.sidebar-custom .nav-link.active,
.sidebar-custom .nav-link:focus {
  background-color: #f26030;
  color: #fff;
  font-weight: bold;
}

.sidebar-custom .nav-link.salir {
  color: #dc3545;
}

.sidebar-custom .nav-link.salir:hover {
  background-color: #f8d7da;
  color: #a71d2a;
}

* {
  font-family: 'Roboto', sans-serif;
}