<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-2 p-0 bg-light vh-100">
      <app-encabezado></app-encabezado>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="row">
        <div class="col col-12">
          <div class="card w-100">
             <div class="card-header creacion">
              Ingredientes <button type="button" class="btn btn-warning" (click)="crearIngrediente()"><i class="bi bi-plus-circle"></i></button>
            </div>
              <table class="table">
                <thead class="encabezado">
                    <th>Ingrediente</th>
                    <th>Unidad</th>
                    <th>Valor unitario</th>
                    <th>Calorías/unidad</th>
                    <th>Sitio de compra</th>
                    <th>Restaurante</th>
                    <th>Acciones</th>
           
                </thead>
                <tbody class="cuerpo">
                  <tr *ngFor="let ingrediente of ingredientes">
                    <td>{{ ingrediente.nombre }}</td>
                    <td>{{ ingrediente.unidad }}</td>
                    <td>{{ ingrediente.costo | number: '1.2-2' }}</td>
                    <td>{{ ingrediente.calorias | number: '1.2-2' }}</td>
                    <td>{{ ingrediente.sitio }}</td>
                    <td>{{ ingrediente.restaurante }}</td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" (click)="editarIngrediente(ingrediente.id)">
                        <i class="bi bi-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="borrarIngrediente(ingrediente.id)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
